SUPABASE_URL=https://lttvaejsljompzmhupqk.supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui
USER_ID=7517482b-1873-4546-bae4-db071cb20f1c
OPENAI_API_KEY=sua_chave_openai_aqui
WEBHOOK_SECRET=sua_chave_webhook_aqui
BATCH_API_TOKEN=seu_bearer_token_da_api_batch_aqui
